
.scroller {
  overflow: hidden;
  height: 400px;
  width: 600px;
}

.scroller .inner::-webkit-scrollbar {
  display: none;
}

.scroller .inner {
  overflow: scroll;
  transition: transform 0.3s ease;
}

.scroller .inner .img {
  display: block;
  float: left;
  height: 400px;
}